*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background: rgb(94,223,232);
background: linear-gradient(180deg, #5edfe8 0%, #965cf4 100%);
min-height: 100vh;
}


.header{

    background-color: blanchedalmond;
}

.eulinhado{
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
}

.eu{
    border-radius: 110px 0px 110px;
    top: 0;
}



































footer{
    text-align: center;
    bottom: 0;

}
